<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script type = "text/javascript" src = "/Angularjs/angular.min.js"></script>
    <script type = "text/javascript" src = "/Angularjs/indexangular.js"></script>
     <script type = "text/javascript" src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular-sanitize.js"></script>
    
    <script  type='text/javascript' class='jsbin' src="/Javascripts/previewprofilepic.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type = "text/javascript">
   
   </script>
  </head>
  
  <body ng-app = "homepage">
 <nav class="navbar navbar-default mynav">
  <div class="container-fluid">
    <ul class="nav navbar-nav ">
      <li ><a href="/userhomepage"><span class="glyphicon glyphicon-home"></span> Home</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-flash"></span> Moments</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-bell"></span> Notifications</a></li>
      <li><a href="#"> <span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
    </ul>
    <div style = "margin-left:600px;">
    <ul class="nav navbar-nav navbar-center" style="margin-top:10px;">
    <li><img src = "/images/favicon.ico" height = "20px" width = "20px"></li>
    </ul>
    </div>
   
    <ul class="nav navbar-nav navbar-right">
     
      <li><form class="navbar-form" role="search" action="/hashsearch">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name  = "search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form></li>
     <li><a href = "/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
  
  <div class = "container" style="background:#F5F8FA;>
  <div class="row">
  <br/>
  <div class = "col-md-3">
  <div class="row" style="height:210px;border: solid #ffffff;border-radius: 10px;" >
  <div style="background:#00aced;height:40%"></div>
   <div style="background:#ffffff;height:60%" >
   <div style="background:#ffffff;height:50%" >
   <div class="row">
   <div class="col-md-4" style="border:solid 1px;border-color:#ffffff">
  <%if(profile[0].profilepic!= null && profile[0].profilepic!=''){ %>
    <img src = <%= profile[0].profilepic %> id = "profilepic"  width = "80px" height="75px" style="border-radius:5px;margin-left:10px;margin-top:-20px;border:solid 3px;border-color:#ffffff"  >
    <% }else{ %>
    <div style="background:#00aced;width:80px;height:75px;margin-left:10px;margin-top:-30px;border-radius:7px;border:solid 3px;border-color:#ffffff" id = "profilepic"  ><img src = "/images/cam.png" style="margin-left:-14px;margin-top:-18px" height="100px" width="100px"/></div>
    <% } %>
   </div>
   <div class="col-md-8">
   <br/>
    <%if(data[0].fullname!= null && data[0].fullname!=''){ %>
    <h4><strong><%= data[0].fullname %></strong><br/><small><%= profile[0].username %></small></h4> 
    <% } %>
   </div>
   </div>
   </div>
    <div style="background:#ffffff;height:50%" >
    <div class = "row" ng-init = "init()" ng-controller = "counts">
    <div class = "col-md-4">
    <h5><small ng-click = "tweetlist();" class="mycountheading">TWEETS</small></h5>
    <h4 class="mycount"  ng-model = "tweetupdate">{{tweetupdate}}</h4>     
    </div>
    <div class = "col-md-4">
    <h5><small ng-click = "followinglist();" class="mycountheading">FOLLOWING</small></h5>
      <h4 class="mycount"  ng-model = "followingupdate" > {{followingupdate}}</h4>
    </div>
    <div class = "col-md-4">
    <h5><small ng-click = "followerslist();" class="mycountheading">FOLLOWERS</small></h5>
    <h4 class="mycount" ng-model = "followersupdate" >{{followersupdate}}</h4>
    </div>
    </div>
   </div>

   </div>
 <div style = "">
 </div>
 </div>
 <br/>
 <div class="row" style="background:#ffffff">
 <div>
 
 
 <%if(data[0].fullname!= null && data[0].fullname!=''){ %>
    <h5 class="text-primary" ><span class="glyphicon glyphicon-user"></span> <%= data[0].fullname %></h5>
    
    <% } %>
    <%if(profile[0].bio!= null && profile[0].bio!=''){ %>
    <h5 class="text-primary"><span class="glyphicon glyphicon-education"></span> <%= profile[0].bio %> </h5>
    
    <% } %>
   
    <%if(profile[0].location!= null && profile[0].location!=''){ %>
    <h5 class="text-primary"><span class="glyphicon glyphicon-map-marker"></span> <%= profile[0].location %> </h5>
     
    <% } %>
  
    <%if(profile[0].website!= null && profile[0].website!=''){ %>
    <h5 class="text-primary"><span class="glyphicon glyphicon-link"></span> <%= profile[0].website %></h5>
     
    <% } %>
 
    <%if(profile[0].birthday!= null && profile[0].birthday!='' && profile[0].birthday!='0000-00-00'){ 

     %> 
     <h5 class="text-primary"><span class="glyphicon glyphicon-dashboard"></span> <%= profile[0].birthday;%></h5>
    <% }else{
    TempString = "0000-00-00";
     }%>
     <% if(typeof TempString != "undefined"){ %>
     
   <input type="hidden" id = "birthday" value ="<%= TempString %>"> 
   <%}%>
    <%if(data[0].email!= null && data[0].email!=''){ %>
    <h5 class="text-primary"><span class="glyphicon glyphicon-envelope"></span> <%= data[0].email %></h5>
    
    <% } %>
    
     <%if(data[0].countrycode!= null && data[0].countrycode!='0' && data[0].countrycode!= ''){ %>
    <h5 class="text-primary"><span class="glyphicon glyphicon-phone"></span> <%= "+" + data[0].countrycode %>
     
    <% } %>
    <%if(data[0].phonenum!= null && data[0].phonenum!='0'){ %>
    <%=  data[0].phonenum %> </h5> 

    <% } %>
    
    <input type="hidden" id = "bio" value ="<%= profile[0].bio %>"/>
    <input type="hidden" id = "fullname" value ="<%= data[0].fullname %>"/>
    <input type="hidden" id = "location" value ="<%= profile[0].location %>">
    <input type="hidden" id = "website" value ="<%= profile[0].website %>">
    <input type="hidden" id = "email" value ="<%= data[0].email %>">
    <input type="hidden" id = "countrycode" value ="<%= data[0].countrycode %>">
    <input type="hidden" id = "phonenum" value ="<%= data[0].phonenum %>"> 
     
  <div ng-controller = "profile" ng-init = "init()">
    <button class="btn btn-info btn-block" ng-click = "showprofilepopup()">Edit Profile</button>
    <modal title="Edit Profile" visible="showProfile">
    <center><img src = "/images/favicon.ico"/></center>
    <form role="form">
      <div class="form-group">
        <input type= "text" class="form-control signupinput" placeholder = "Enter Name" ng-model = "$parent.fullname" name="fullname">
      </div>   
      <div class="form-group">
        <input type= "text" class="form-control signupinput" placeholder = "Bio" ng-model = "$parent.bio" name="bio" >
      </div>   
      <div class="form-group">
        <input type= "text" class="form-control signupinput" placeholder = "Enter Location" ng-model = "$parent.loc" name="loc" >
      </div>   
      <div class="form-group">
        <input type= "date" class="form-control signupinput" placeholder = "Enter Birthday" ng-model = "$parent.birthday" name="birthday" >
      </div>   
      <div class="form-group">
        <input type= "text" class="form-control signupinput" placeholder = "Enter Website" ng-model = "$parent.website" name="website" >
      </div> 
      <div class="form-group">
        <input type= "text" class="form-control signupinput" placeholder = "Enter Country Code" ng-model = "$parent.countrycode" name="countrycode" >
      </div>     
      <div class="form-group">
        <input type= "text" class="form-control signupinput" placeholder = "Enter Phone Number" ng-model = "$parent.phoneno" name="phno" >
      </div>   
      
      <button class="btn btn-info btn-block signupinput" ng-click = "$parent.savechanges();">SaveChanges</button>
    </form>
  </modal>
    </div>  
 </div>
  </div>
  </div>

  <div class = "col-md-6">
  <div class="panel panel-info" ng-init="init()" ng-controller = "twitterfeed">
  <div class="panel-heading" style ="border-radius:10px">  
  <div class="row">    
  <div class = "col-md-1">
  <img src = "/images/tweetegg.png" style ="border-radius:5px;height:43px;width:43px"/>
  </div>
  <div class = "col-md-11">
  <textarea ng-model = "tweet" placeholder="What's happening?" name="tweet" cols="55" rows="2" style ="border-radius:5px;border-color:#00aced"></textarea>
  <button ng-click = "addtweet();" class = "btn btn-info pull-right"><img src = "/images/twitter-snow.svg" style="height:20px;width:20px;"> Tweet</button>
  </div>
   </div>
   </div>
   <div class="panel-body" style ="border-radius:10px">
   <div class= "row" ng-repeat="x in feed">
   <div class="col-md-1">
    <img src = "{{x.image}}" style ="border-radius:5px;height:43px;width:43px"/>
    
   </div>
   <div class="col-md-11">
   <div>
   <dir id="dir" content="x.value"></dir>
   <button class = "btn btn-info pull-right" style="margin-left:170px" ng-click = "retweetshow($index);"><span class="glyphicon glyphicon-retweet"></span> Retweet</button>
   </div> 
   </div>  
   <div style="border:solid 1px;border-color:#F5F8FA"> </div>
   </div> 
   
   <p ng-hide = "notweets">No tweets are available</p>
     <modal title="Retweet to your followers?" visible="showModal">
     
     <div class="panel panel-info">
      <div class="panel-heading" style ="border-radius:10px"> 
     
      <div >
      <input type="text" ng-model = "$parent.retweetarea" placeholder="Add a comment..." name="tweet" class="form-control signupinput"/>
      </div>   
      </div>
       <div class="panel-body" style ="border-radius:10px"> 
       <dir id="dir" content="$parent.originaltweet"></dir>
      <button class="btn btn-info pull-right" ng-click = "$parent.retweet();"><span class=""><span class="glyphicon glyphicon-retweet"></span> Retweet</button>
    
      </div>
     </div>   
  </modal> 
  </div>
 </div>
  </div>

  <div class = "col-md-3">
      <div ng-init="init()" ng-controller = "whomtofollow" class="panel panel-info">

    <h3 style="margin-left:30px"><small>Who to follow</small> </h3>
    <div  class="panel-body">

        <div class ="row" style="background:#ffffff" ng-repeat="x in suggestions">
        <div class="col-md-1">
        <img src = "/images/photo.jpg" height = "30px" width = "30px"/>
        </div>
        <div class="col-md-10">
        <h5><strong>{{x.fullname}}</strong><small>{{x.username}}</small> <span class="mycountheading" style="float:right;"  ng-click="removeItem($index)">&times;</span><h6>
         
            <button class ="btn btn-default myfollowbtn" ng-click="addfollowingfromsuggestion($index)"><span class="glyphicon glyphicon-user blue"></span> Follow</button>
           
        </div>
            
            </div>
            

    <p ng-hide = "nosuggestions">No suggestions are available</p>
    </div>
   
  
  </div>
  </div>

  
  </div>
   
  </body>
</html>